0:	PUSH	1
1:	STORE	0
2:	PUSH	0
3:	STORE	1
4:	LOAD	0
5:	LOAD	1
6:	MULT
7:	JUMP_NO	11
8:	PUSH	1
9:	PRINT
10:	JUMP	13
11:	PUSH	0
12:	PRINT
13:	LOAD	0
14:	LOAD	1
15:	ADD
16:	PUSH	1
17:	COMPARE	2
18:	JUMP_NO	22
19:	PUSH	1
20:	PRINT
21:	JUMP	24
22:	PUSH	0
23:	PRINT
24:	LOAD	0
25:	LOAD	1
26:	MULT
27:	JUMP_NO	31
28:	PUSH	1
29:	PRINT
30:	JUMP	33
31:	PUSH	0
32:	PRINT
33:	LOAD	0
34:	LOAD	1
35:	ADD
36:	PUSH	1
37:	COMPARE	2
38:	JUMP_NO	42
39:	PUSH	1
40:	PRINT
41:	JUMP	44
42:	PUSH	0
43:	PRINT
44:	LOAD	0
45:	PUSH	1
46:	SUB
47:	INVERT
48:	JUMP_NO	52
49:	PUSH	1
50:	PRINT
51:	JUMP	54
52:	PUSH	0
53:	PRINT
54:	STOP
