#Libre office
*.odf
*.odt
*.odp

#Borland C++
*.OBJ
*.EXE
*.SWP
*.BAK

#MaxPlusII
*.acf
*.fit
*.cnf
*.hif
*.mmf
*.ndb
*.pin
*.pof
*.rpt
*.snf
*.DLS
*.sym
*.scf

#Quartus2
*.done
*.fit.*
*.map.*
*.qsf
*.sof
*.tan.*
*.qws
*.qpf
*.vwf
*.bsf
db
cmp_state.ini

#LaTeX
*.log
*.tex
*.aux

#Other files
*.o
*.t
