#Libre office
*.odf
*.odt
*.odp

#Borland C++
*.OBJ
*.EXE
*.SWP
*.BAK

#MaxPlusII
*.acf
*.fit
*.cnf
*.hif
*.mmf
*.ndb
*.pin
*.pof
*.rpt
*.snf
*.DLS
*.sym

#Quartus2
*.done
*.fit.*
*.map.*
*.qsf
*.sof
*.tan.*
*.qws
*.qpf
*.bsf
db
cmp_state.ini

#LaTeX
*.log
*.tex
*.aux

#Java (bullshit)
*.class

#Visual Studio
.vs
x64
*.sln
*.vcxproj*

#Other files
*.o
*.t

#Old sems
Sem1/
Sem2/
Sem3/
Sem4/
