*.OBJ
*.EXE
*.SWP
*.BAK
*.o
*.acf
*.fit
*.cnf
*.hif
*.mmf
*.ndb
*.pin
*.pof
*.rpt
*.snf
*.DLS
*.sym
*.t
*.odt
*.scf
*.done
*.fit.*
*.map.*
*.qsf
*.sof
*.tan.*
*.qws
*.qpf
*.vwf
*.bsf

db
cmp_state.ini
